html {
  width: 100%;
  height: 100%;
}
body {
  padding:0;
  margin:0;
  width:100%;
  min-height:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
}

/* DARK THEME - Can be removed */

label {
  color: #b1bad3;
}
input[type="number"] {
  background: #0f212e;
  color: #FFF;
}

.controls {
  background: #213743;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #b1bad3;
}
.board {
  background: #0f212e;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


.container {
  display: flex;
  height:calc(100% - 10px);
  width: calc(100% - 10px);
  min-width: 400px;
  min-height: 300px;
  flex-direction: row;
  border-radius: 15px;
}



/* LEFT CONTROLS */
.controls {
  width: 25%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}


form .form-element {
  display: flex;
  flex-direction: column;
}

form input[type="submit"] {
  width: 100%;
  background: #1fff20;
  border: none;
  padding: 10px;
  margin: 10px 0;
}
form input[type="submit"]:hover {
  background: #00e701;
}

.token-values {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin:15px 0;
}
.token-values li {
  width:50px;
  height: 45px;

  background-color: rgb(255, 206, 0);
  background-image: url(/token.svg);
  box-shadow: rgb(145 112 0) 0px 0.2em 0px 0px, rgb(255 255 255) 0px 0.1em 0px 0.2em;

  margin-right:5px;
  margin-bottom: 10px;
  border-radius:50%;
  cursor:pointer;

  display:flex;
  align-items: center;
  justify-content: center;
}
.token-values li:hover {
  background-color: red;
}
.token-values li.active {
  background-color: red;
}

/* GAME BOARD */

.board {
  width:75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 730px;
}

.roulette-board-numbers {
  display: flex;
  justify-content: center;
}

.roulette-board-column {
  display: flex;
  flex-direction: column-reverse;
}

#roulette-board button {
  cursor: pointer;
  color: #FFF;
  border: none;
  background-color: transparent;
  min-width: 38px;
  min-height: 38px;
  box-shadow: inset 0 0 0 0.15em #2F4553;
  border-radius: 0.25rem;
  position: relative;
}
.token-bet {
  width: 25px;
  height: 22.5px;
  background-color: rgb(255, 206, 0);
  background-image: url(/token.svg);
  box-shadow: rgb(145 112 0) 0px 0.2em 0px 0px, rgb(255 255 255) 0px 0.1em 0px 0.3em;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position:absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 11.25px);
  display: none;
}

.zero {
  height: 100%;
}
#roulette-board button.roulette-green {
  background-color: #419e3f;
  box-shadow: none;
}
#roulette-board button.roulette-green:hover {
  background-color: rgb(105, 194, 103);
}


#roulette-board button.roulette-red {
  background-color: #FE2247;  
  box-shadow: none;
}
#roulette-board button.roulette-red:hover {
  background-color: rgb(254, 110, 134);
  
}
#roulette-board button.roulette-black {
  background-color: #2F4553;
  box-shadow: none;
}
#roulette-board button.roulette-black:hover {
  background-color: rgb(75, 110, 132);
}

.board-clean-controls {
  margin: auto;
  display: flex;
}

.board-clean-controls span {
  color: #FFF;
  display: block;
  padding: 10px;
  cursor: pointer;

}

/* WHEEL */

#roulette {
  min-height:500px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.wheel {
  position: absolute;
  display: block;
  width: 380px;
  height: 380px;
  border:1px solid;
  border-radius:50%;
  background-size:cover;
  background-image: url("/wheel.jpg");
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wrap {
  position: absolute;
  border:1px solid;
  border-radius:50%;
  width: 380px;
  height: 380px;
  background-size:cover;
}

.ball {
  width:10px;
  height:10px;
  border:1px solid;
  border-radius:50%;
  margin-top: 30px;
  margin-left: 90px;
  background-size:cover;
  background-color: white;
}

.dozen {
  display: flex;
}

.flex-item {
  flex: 1 1;
  display: flex;
  border: 5px solid gray;
  justify-content: space-around;
  font-size: 100px;
  height: 77px;
  margin: 0;
  transition: all 1s;
}

.flex-item:hover {
  background-color: magenta;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes ballDrop {
  from { margin-top: 30px; }
  to   { margin-top: 126px; }
}

@keyframes ballReset {
  from { margin-top: 126px; }
  to   { margin-top: 30px; }
}


/* MOBILE */
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 760px) {
  body {
    display: block;
  }
  .container {
    flex-direction: column-reverse;
  } 
  .controls {
    width: 100%;
    border: none;
    border-radius: 0;
  }
  .board {
    width: 100%;
    border: none;
    border-radius: 0;
  }

  .roulette-board-numbers {
    flex-direction: column;
  }
  .zero {
    width: 100%;
  }
  .roulette-board-column {
    flex-direction: row;
  }
  .roulette-board-column button {
    width: 33.33%;
  }
}
